.navbar .dropdown-toggle::after {
  display: none;
}

.navbar {
  width: 100%;
  height: 100px;
  background-color: #065550;
}

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

.navbar-nav {
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
}

.nav-link {
  color: #ffffff;
}

.icon-circle {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #e6e2df; /* Warna lingkaran */
  color: #065550; /* Warna icon */
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Opsional: bayangan halus */
}

body {
  background-color: #e6e2df;
}

.main {
  margin: 30px 103px 30px 103px;
}

.head-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.head-content h1 {
  font-family: "Inter-SemiBold", Helvetica;
  font-size: 24px;
  font-weight: bold;
  color: #0a4d45;
}

.head-content p {
  font-family: "Inter-SemiBold", Helvetica;
  font-size: 13px;
  margin: 0 0 0 0;
}

.head-content button {
  height: 33px;
  width: 92.5px;
  border-radius: 4px;
  border: none;
}

.aksi {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.hapus {
  background-color: #dc3545;
  color: #ffffff;
}

.batal {
  background-color: #ffffff;
  color: #333333;
}

.simpan {
  background-color: #0a4d45;
  color: #ffffff;
}

.form-content {
  margin-top: 24px;
  padding: 20px 20px 20px 20px;
  border-radius: 8px;
  background-color: #ffffff;
}

.data {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.data p {
  font-family: "Inter-SemiBold", Helvetica;
  font-size: 15.5px;
  color: #555555;
  margin-bottom: 10px;
}

.pilihan {
  margin-top: 50px;
}

.pilihan h1 {
  font-family: "Inter-SemiBold", Helvetica;
  font-size: 18px;
  font-weight: bold;
  color: #0a4d45;
}

.option {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.form-check {
  display: flex;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 25px;
  border-radius: 4px;
  border-color: #dddddd;
  background-color: #f9f9f9;
  color: #333333;
}

.form-check .form-check-input {
  margin-left: -10px;
  margin-right: 10px;
}

span {
  font-family: "Inter-SemiBold", Helvetica;
  font-size: 15px;
}

footer {
  height: 180px;
  background-color: #065550;
  align-content: center;
  justify-items: center;
}

footer p {
  color: #ffffff;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: bold;
  margin-bottom: 0;
}

.footer-section {
  justify-items: center;
}
