.navbar .dropdown-toggle::after {
  display: none;
}

.navbar {
  width: 100%;
  height: 100px;
  background-color: #065550;
}

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

.navbar-nav {
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
}

.nav-link {
  color: #ffffff;
}

.icon-circle {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #e6e2df; /* Warna lingkaran */
  color: #065550; /* Warna icon */
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Opsional: bayangan halus */
}

body {
  background-color: #e6e2df;
}

.main {
  margin: 30px 103px 30px 103px;
}

.main-head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main-head h1 {
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  font-size: 30px;
}

.main-head p {
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: bold;
  color: #065550;
}

.main-content {
  height: 100vh;
  display: flex;
  flex-direction: row;
  gap: 27px;
}

.card-product {
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  width: 182px;
  height: 210px;
  padding-left: 12px;
  background-color: #ffffff;
  border-radius: 8px;
  overflow: hidden;
}

.card-product::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;

  background: linear-gradient(
    to top,
    rgba(30, 20, 10, 0.8) 0%,
    rgba(0, 0, 0, 0) 60%
  );
}

.card-product h1 {
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: bold;
  font-size: 14px;
  color: #ffffff;
}

.card-product h5 {
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: medium;
  font-size: 15px;
  color: #ffffff;
}

.desk {
  margin-top: auto;
  z-index: 2;
}

.blank {
  height: 100vh;
  margin-top: 11px;
  align-content: center;
  justify-items: center;
}

.blank p {
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: bold;
  font-size: 14.13px;
  color: #065550;
}

footer {
  height: 180px;
  background-color: #065550;
  align-content: center;
  justify-items: center;
}

footer p {
  color: #ffffff;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: bold;
  margin-bottom: 0;
}

.footer-section {
  justify-items: center;
}
