.navbar .dropdown-toggle::after {
  display: none;
}

.navbar {
  height: 100px;
  background-color: #065550;
}

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

.navbar-nav {
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
}

.nav-link {
  color: #ffffff;
}

.icon-circle {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #e6e2df; /* Warna lingkaran */
  color: #065550; /* Warna icon */
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Opsional: bayangan halus */
}

body {
  background-color: #e6e2df;
}

.main {
  margin: 30px 103px 30px 103px;
}

.produk-container {
  width: 300px;
  height: 93px;
  background-color: #ffffff;
  margin-right: 6px;
  margin-bottom: 8px;
  border-radius: 8px;
}

.stok-rendah {
  width: 300px;
  height: 93px;
  background-color: #ffffff;
  margin-left: 6px;
  margin-right: 6px;
  margin-bottom: 8px;
  border-radius: 8px;
}

.penjualan-harian {
  width: 300px;
  height: 93px;
  background-color: #ffffff;
  margin-left: 6px;
  margin-right: 6px;
  margin-bottom: 8px;
  border-radius: 8px;
}

.pesanan-baru {
  width: 300px;
  height: 93px;
  background-color: #ffffff;
  margin-left: 6px;
  margin-bottom: 8px;
  border-radius: 8px;
}

.tren-penjualan,
.stok-produk {
  width: 610px;
  height: 336px;
  background-color: #ffffff;
  margin-top: 8px;
  margin-right: 10px;
  margin-bottom: 8px;
  border-radius: 8px;
}

.kategori-terjual,
.produk-terlaris {
  width: 610px;
  height: 336px;
  background-color: #ffffff;
  margin-top: 8px;
  margin-left: 10px;
  margin-bottom: 8px;
  border-radius: 8px;
}

.pembelian-terbaru {
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: bold;
  width: 1239px;
  height: 276px;
  background-color: #ffffff;
  border-radius: 8px;
  margin-top: 8px;
  margin-bottom: 20px;
}

footer {
  height: 180px;
  background-color: #065550;
  align-content: center;
  justify-items: center;
}

footer p {
  color: #ffffff;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: bold;
  margin-bottom: 0;
}

.footer-section {
  justify-items: center;
}
