.navbar .dropdown-toggle::after {
  display: none;
}

.navbar {
  height: 100px;
  background-color: #065550;
}

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

.navbar-nav {
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
}

.nav-link {
  color: #ffffff;
}

.icon-circle {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #e6e2df; /* Warna lingkaran */
  color: #065550; /* Warna icon */
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Opsional: bayangan halus */
}

body {
  background-color: #e6e2df;
}

.main-cont {
  margin: 30px 103px 30px 103px;
}

.cont-head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 12px;
}

.cont-title {
  color: #065550;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  font-size: 30px;
}

.cont-head button {
  border-radius: 4px;
  color: #ffffff;
  background-color: #065550;
}

.sorting {
  height: 86px;
  border-radius: 8px;
  background-color: #ffffff;
  align-content: center;
}

.sorting h1 {
  color: #757575;
  font-family: "Inter-SemiBold", Helvetica;
  font-size: 13.13px;
}

.form-sorting {
  margin-top: 12px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
}

.tanggal-mulai {
  width: 230px;
  margin-left: 20px;
  margin-right: 20px;
  align-content: center;
}

.tanggal-akhir {
  width: 230px;
  margin-right: 20px;
  align-content: center;
}

.pilihan-kategori {
  width: 230px;
  margin-right: 20px;
  align-content: center;
}

.transaction-rate {
  height: 133px;
  border-radius: 8px;
  background-color: #ffffff;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-right: 80px;
  padding-left: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.current-month {
  align-content: center;
  justify-items: center;
}

.current-month h1 {
  color: #757575;
  font-family: "Inter-SemiBold", Helvetica;
  font-size: 13.13px;
}

.monthly-transaction {
  align-content: center;
  justify-items: center;
}

.monthly-transaction h1 {
  color: #757575;
  font-family: "Inter-SemiBold", Helvetica;
  font-size: 13.13px;
}

.product-selling {
  align-content: center;
  justify-items: center;
}

.product-selling h1 {
  color: #757575;
  font-family: "Inter-SemiBold", Helvetica;
  font-size: 13.13px;
}

.ave-transaction {
  align-content: center;
  justify-items: center;
}

.ave-transaction h1 {
  color: #757575;
  font-family: "Inter-SemiBold", Helvetica;
  font-size: 13.13px;
}

.penjualan-produk {
  height: 494px;
  border-radius: 8px;
  background-color: #ffffff;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 16px;
  padding-right: 25px;
  padding-left: 25px;
}

.penjualan-produk h1 {
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: bold;
  font-size: 17.44px;
  color: #333333;
}

.penjualan-content {
  align-content: center;
  justify-items: center;
}

.penjualan-content p {
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: bold;
  color: #0a5c5c;
}

.daily-sell {
  height: 451px;
  border-radius: 8px;
  background-color: #ffffff;
  margin-top: 10px;
  padding-top: 16px;
  padding-right: 25px;
  padding-left: 25px;
}

.daily-sell h1 {
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: bold;
  font-size: 17.44px;
  color: #333333;
}

footer {
  height: 180px;
  background-color: #065550;
  align-content: center;
  justify-items: center;
}

footer p {
  color: #ffffff;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: bold;
  margin-bottom: 0;
}

.footer-section {
  justify-items: center;
}
