.navbar .dropdown-toggle::after {
  display: none;
}

.navbar {
  height: 100px;
  background-color: #065550;
}

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

.navbar-nav {
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
}

.nav-link {
  color: #ffffff;
}

.icon-circle {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #e6e2df; /* Warna lingkaran */
  color: #065550; /* Warna icon */
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Opsional: bayangan halus */
}

body {
  background-color: #e6e2df;
}

h1 {
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: bold;
  font-size: 17.44px;
  color: #333333;
}

p {
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: regular;
  font-size: 14.13px;
}

.main {
  margin: 30px 103px 30px 103px;
}

.produk-container {
  width: 300px;
  height: 93px;
  background-color: #ffffff;
  padding-top: 15px;
  padding-left: 15px;
  margin-right: 6px;
  margin-bottom: 8px;
  border-radius: 8px;
}

.produk-container h1 {
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: bold;
  font-size: 15.63px;
  color: #0a5c5c;
  padding-bottom: 11px;
}

.produk-container p {
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: bolder;
  font-size: 20px;
}

.stok-rendah {
  width: 300px;
  height: 93px;
  background-color: #ffffff;
  padding-top: 15px;
  padding-left: 15px;
  margin-left: 6px;
  margin-right: 6px;
  margin-bottom: 8px;
  border-radius: 8px;
}

.stok-rendah h1 {
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: bold;
  font-size: 15.63px;
  color: #0a5c5c;
  padding-bottom: 11px;
}

.stok-rendah p {
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: bolder;
  font-size: 20px;
}

.penjualan-harian {
  width: 300px;
  height: 93px;
  background-color: #ffffff;
  padding-top: 15px;
  padding-left: 15px;
  margin-left: 6px;
  margin-right: 6px;
  margin-bottom: 8px;
  border-radius: 8px;
}

.penjualan-harian h1 {
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: bold;
  font-size: 15.63px;
  color: #0a5c5c;
  padding-bottom: 11px;
}

.penjualan-harian p {
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: bolder;
  font-size: 20px;
}

.pesanan-baru {
  width: 300px;
  height: 93px;
  background-color: #ffffff;
  padding-top: 15px;
  padding-left: 15px;
  margin-left: 6px;
  margin-bottom: 8px;
  border-radius: 8px;
}

.pesanan-baru h1 {
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: bold;
  font-size: 15.63px;
  color: #0a5c5c;
  padding-bottom: 11px;
}

.pesanan-baru p {
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: bolder;
  font-size: 20px;
}

.tren-penjualan {
  width: 610px;
  height: 336px;
  background-color: #ffffff;
  padding-top: 20px;
  padding-left: 37px;
  margin-top: 8px;
  margin-right: 10px;
  margin-bottom: 8px;
  border-radius: 8px;
}

.stok-produk {
  width: 610px;
  height: 336px;
  background-color: #ffffff;
  padding-top: 20px;
  padding-bottom: 15px;
  padding-right: 15px;
  padding-left: 37px;
  margin-top: 8px;
  margin-right: 10px;
  margin-bottom: 8px;
  border-radius: 8px;
}

.kategori-terjual {
  width: 610px;
  height: 336px;
  background-color: #ffffff;
  margin-top: 8px;
  margin-left: 10px;
  margin-bottom: 8px;
  border-radius: 8px;
}

.stok-head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 36.41px;
}

.stok-head p {
  color: #0a5c5c;
}

.content-stok {
  height: 80%;
  margin-top: 11px;
  align-content: center;
  justify-items: center;
}

.stok-produk h1 {
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: bold;
  font-size: 15.63px;
  padding-bottom: 11px;
}

.content-stok p {
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: bold;
  font-size: 14.13px;
  color: #0a5c5c;
}

.produk-terlaris {
  width: 610px;
  height: 336px;
  background-color: #ffffff;
  padding-top: 20px;
  padding-left: 34px;
  margin-top: 8px;
  margin-left: 10px;
  margin-bottom: 8px;
  border-radius: 8px;
}

.produk-terlaris h1 {
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: bold;
  font-size: 15.63px;
  padding-bottom: 11px;
}

.content-terlaris {
  height: 80%;
  margin-top: 11px;
  align-content: center;
  justify-items: center;
  padding-right: 34px;
}

.content-terlaris p {
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: bold;
  font-size: 14.13px;
  color: #065550;
}

.pembelian-terbaru {
  width: 1239px;
  height: 276px;
  background-color: #ffffff;
  padding-top: 20px;
  padding-bottom: 15px;
  padding-right: 15px;
  padding-left: 37px;
  border-radius: 8px;
  margin-top: 8px;
  margin-bottom: 20px;
}

.head-pembelian {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 36.41px;
}

.head-pembelian p {
  color: #0a5c5c;
}

.content-pembelian {
  height: 90%;
  margin-top: 11px;
  align-content: center;
  justify-items: center;
}

.content-pembelian p {
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: bold;
  font-size: 14.13px;
  color: #065550;
}

footer {
  height: 180px;
  background-color: #065550;
  align-content: center;
  justify-items: center;
}

footer p {
  color: #ffffff;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: bold;
  margin-bottom: 0;
}

.footer-section {
  justify-items: center;
}
