.navbar .dropdown-toggle::after {
  display: none;
}

.navbar {
  height: 100px;
  background-color: #065550;
}

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

.navbar-nav {
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
}

.nav-link {
  color: #ffffff;
}

.icon-circle {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #e6e2df; /* Warna lingkaran */
  color: #065550; /* Warna icon */
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Opsional: bayangan halus */
}

body {
  background-color: #e6e2df;
}

.main-content {
  margin: 30px 103px 30px 103px;
}

.cont-title h2 {
  color: #065550;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
}

.cont-head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cont-head button {
  border-radius: 4px;
  color: #ffffff;
  background-color: #065550;
}

.total-produk {
  width: 280px;
  height: 100px;
  background-color: #ffffff;
  border-radius: 8px;
  margin-right: 8px;
  margin-top: 17.5px;
  margin-bottom: 16px;
}

.stok-rendah {
  width: 280px;
  height: 100px;
  background-color: #ffffff;
  border-radius: 8px;
  margin-left: 8px;
  margin-right: 8px;
  margin-top: 17.5px;
  margin-bottom: 16px;
}

.perlu-stok {
  width: 280px;
  height: 100px;
  background-color: #ffffff;
  border-radius: 8px;
  margin-left: 8px;
  margin-right: 8px;
  margin-top: 17.5px;
  margin-bottom: 16px;
}

.update-terakhir {
  width: 280px;
  height: 100px;
  background-color: #ffffff;
  border-radius: 8px;
  margin-left: 8px;
  margin-top: 17px;
  margin-bottom: 8px;
}

.tabel-head {
  background-color: #e0f2f1;
}

.tabel-stok {
  width: 100%;
  padding: 0px 10px 0px 10px;
  border-radius: 8px;
  background-color: #ffffff;
}

footer {
  height: 180px;
  background-color: #065550;
  align-content: center;
  justify-items: center;
}

footer p {
  color: #ffffff;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: bold;
  margin-bottom: 0;
}

.footer-section {
  justify-items: center;
}
