.navbar .dropdown-toggle::after {
  display: none;
}

.navbar {
  height: 100px;
  background-color: #065550;
}

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

.navbar-nav {
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
}

.nav-link {
  color: #ffffff;
}

.icon-circle {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #e6e2df; /* Warna lingkaran */
  color: #065550; /* Warna icon */
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Opsional: bayangan halus */
}

body {
  background-color: #e6e2df;
  overflow: hidden;
}

main {
  font-family: "Inter-SemiBold", Helvetica;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.bagian-produk {
  overflow: auto;
}

.produk {
  margin-top: 20px;
  margin-left: 30px;
}

.title {
  font-weight: 600;
  margin-bottom: 14px;
  font-weight: bolder;
  color: #065550;
}

.nav {
  margin-top: 14px;
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
}

.nav button {
  border-radius: 20px;
  margin-right: 5px;
  margin-left: 5px;
  padding: 8px 16px 8px 16px;
}

.menu {
  margin-top: 10px;
  margin-right: 18px;
}

.menu-card {
  width: 182px;
  height: 210px;
  background-color: #ffffff;
  border-radius: 8px;
}

.kasir {
  background-color: #ffffff;
  width: 450px;
  height: 100vh;
}

.data {
  padding-top: 20px;
  padding-bottom: 15px;
  padding-right: 20px;
  padding-left: 20px;
  align-content: center;
}

.nama {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
  color: #666666;
}

.nama input {
  width: 300px;
  border-radius: 4px;
}

.nomor-meja {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #666666;
}

.nomor-meja input {
  width: 300px;
  border-radius: 4px;
}

.pesanan-content {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 20px;
  padding-left: 20px;
}

.pesanan-head h1 {
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: bold;
  font-size: 17.44px;
  color: #065550;
}

.pesanan-list {
  align-content: center;
  justify-items: center;
}

.pesanan-list svg {
  width: 45.34px;
  height: 40px;
  margin-top: 40px;
  margin-bottom: 15px;
  color: #dddddd;
}

.pesanan-list p {
  font-family: "Inter-SemiBold", Helvetica;
  color: #666666;
}

.pembayaran {
  padding-right: 20px;
  padding-left: 20px;
}

.subtotal {
  height: 17px;
  margin-bottom: 9px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: "Inter-SemiBold", Helvetica;
  color: #666666;
}

.diskon {
  height: 17px;
  margin-bottom: 9px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: "Inter-SemiBold", Helvetica;
  color: #666666;
}

.pajak {
  height: 17px;
  margin-bottom: 9px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: "Inter-SemiBold", Helvetica;
  color: #666666;
}

.total {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: bolder;
  color: #000000;
}

.metode-pembayaran {
  padding-right: 20px;
  padding-left: 20px;
}

.metode-pembayaran h1 {
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: bolder;
  font-size: 15px;
  color: #666666;
}

.button-group {
  display: flex;
  flex-direction: row;
  margin-top: 11px;
  gap: 10px;
}

.button-group input[type="radio"] {
  display: none;
}

.button-group label {
  height: 59px;
  width: 130px;
  border-radius: 4px;
  border-style: solid;
  border-color: #dddddd;
  background-color: #ffffff;
  font-family: "Inter-SemiBold", Helvetica;
  font-size: 12px;
  color: #666666;
  cursor: pointer;
  justify-items: center;
}

.button-group input[type="radio"]:checked + label {
  height: 59px;
  width: 130px;
  border-radius: 4px;
  border-color: #0a4d45;
  background-color: #f0f7f6;
  font-family: "Inter-SemiBold", Helvetica;
  font-size: 12px;
  color: #0a4d45;
  cursor: pointer;
  justify-items: center;
}

.proses-pembayaran {
  align-content: center;
  justify-items: center;
}

.proses-pembayaran button {
  width: 410px;
  height: 42px;
  margin-top: 15px;
  border-radius: 4px;
  border-style: none;
  background-color: #cccccc;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: bold;
  color: #ffffff;
}

footer {
  height: 180px;
  background-color: #065550;
  align-content: center;
  justify-items: center;
}

footer p {
  color: #ffffff;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: bold;
  margin-bottom: 0;
}

.footer-section {
  justify-items: center;
}
